
body {
	background-color: #000000;

}
html,
body {
	height: 100%;
}
.imagebg {
	background-image: url("images/background2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  opacity: 70%;
}

.form-container {
	width: 40%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	/*margin-top:90px;
	margin-bottom: 30px;*/
	padding: 30px;
	background-color: transparent;
	position: fixed;
	top: 50%;
	left: 50%;
	bottom: 50%;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.form-container .row {
	margin-bottom: 0;
}


/* label color */
   .input-field label {
     color: #ffffff;
		 font-weight: normal;
		 text-transform: uppercase;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ffffff;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #ffffffff;
     box-shadow: 0 1px 0 0 #ffffff;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #ffffff;
     box-shadow: 0 1px 0 0 #ffffff;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #f05853;
     box-shadow: 0 1px 0 0 #f05853;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ffffff;
   }
   input:not([type]):focus:not([readonly]),
   input[type=text]:focus:not([readonly]),
   input[type=password]:focus:not([readonly]),
   input[type=email]:focus:not([readonly]),
   input[type=url]:focus:not([readonly]),
   input[type=time]:focus:not([readonly]),
   input[type=date]:focus:not([readonly]),
   input[type=datetime]:focus:not([readonly]),
   input[type=datetime-local]:focus:not([readonly]),
   input[type=tel]:focus:not([readonly]),
   input[type=number]:focus:not([readonly]),
   input[type=search]:focus:not([readonly]),
   textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}
input:not([type]):focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #ffffff;
}
.form-container .btn {
    background-color: transparent;

}
.submitbtn {
	margin-top: 40px;
	line-height: 48px;
	height: 48px;
	width: 100%;
	text-transform: none;
	font-size: 18px;
	font-weight: medium;
	box-shadow: none;

}
.center {
	margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  position: absolute;
	left: 8px;
	top: 10px;
	height: 50px;
	width: 100px;

}

.form-container h3 {
	font-size: 18px;
    letter-spacing: 0.1em;
    margin-top: 36px;
		margin-bottom: 24px;
    padding: 0;
    color: #ffffff;
    font-weight: normal;
    text-transform: none;
    position: relative;

}
@media  all and (max-width: 640px) {
	.form-container {
		position: static;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin-top: 50px;
	}
}
